#card-stack {
	width: 300px;
	height: 400px;
	margin: 50px auto 0;
	position: relative;
}

#card-stack div ion-card {
	position: absolute;
    top: 2%;
    left: 0;
    right: 0;
    min-width: 200px;
    max-width: 300px;
    margin: auto;
    overflow: visible;
    background-color: white;
}

#card-stack div ion-card ion-fab {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: -35px;
    position: absolute;
}
