#card-stack {
	position: relative;
}

#card-stack div ion-card {
	position: absolute;
    top: 5vh;
    left: 0;
    right: 0;
    width: 250px;
    height: 380px;
    margin: auto;
    overflow: visible;
    background: white !important;
    border: 1px solid gray;
}

#card-stack div ion-card ion-fab {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: -40px;
}

.food-image {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    max-height: 150px;
    width: auto;
    margin: auto;
}
