<ion-content text-center>

  <!-- <p *ngIf="recentCard" style="margin: 10px auto 0; font-size: 0.9em;">
    {{ recentCard }}
  </p> -->

  <div *ngIf="!items?.length" style="width: 90%; height: 90%; margin: 1em auto; display: flex; flex-direction: column; justify-content: space-around; align-items: center;">
      <div *ngIf="itemService.address$ | async as address; else noZip">
        <div *ngIf="address.invalid" style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 0 auto">
          <span style="margin-bottom: 1rem">No restaurants for current location</span>
          <ion-button routerLink="/home/profile">Enter Zipcode!</ion-button>
        </div>
        <div *ngIf="!address.invalid">
          <span *ngIf="address.zip">Loading food for {{ address.zip }}</span>
          <span *ngIf="!address.zip">Loading food</span>
          <br>
          <ion-progress-bar type="indeterminate" style="margin: 2em 0"></ion-progress-bar>
        </div>
      </div>
      <img src="assets/hamburger-guy.svg" alt="Loading Image with Hamburger">
  </div>

  <ng-template #noZip>
    <ion-button routerLink="/home/profile">Enter Zipcode!</ion-button>
  </ng-template>

  <ion-card *ngIf="items && !roundOfItems.length">
    <ion-card-content>
      <a
        target="_blank"
        href="https://shareasale.com/r.cfm?b=841497&amp;u=2138805&amp;m=55471&amp;urllink=&amp;afftrack=">
        <img
          src="https://static.shareasale.com/image/55471/Carnivoreclub_300x250-3.jpg"
          alt="Carnivore Club Banner"
          style="width: 300px; margin: 2em auto" />
      </a>
      <ion-button (click)="skipAd()">Skip</ion-button>
      <br><br><br>
    </ion-card-content>
  </ion-card>

  <div
    *ngIf="roundOfItems?.length"
    #mystack
    swing-stack
    id="card-stack"
    [stackConfig]="stackConfig"
    (throwoutleft)="vote(false)"
    (throwoutright)="vote(true)">

    <div #mycards swing-card *ngFor="let item of roundOfItems; index as i;">
      <ion-card style="transition: opacity 300ms ease-out !important" [ngStyle]="{'opacity': i === roundOfItems.length - 1 ? '1' : '0.1'}">
        <img [src]="item.restaurant.logoUrl" alt="Food Image" class="food-image">

        <ion-card-header>
          <ion-card-subtitle>{{ item.basePrice | currency }}</ion-card-subtitle>
          <ion-card-title style="font-size: 20px">{{ item.name }}</ion-card-title>
        </ion-card-header>

        <ion-card-content text-center>
          <p>{{ item.category.name }}</p>

          <ion-button fill="outline" [routerLink]="['/tabs/item-details']" (click)="viewDetails(item)">
            <ion-label slot="start">Details</ion-label>
            <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
          </ion-button>
        </ion-card-content>

        <ion-fab *ngIf="i === roundOfItems.length - 1" vertical="bottom" slot="fixed">
          <ion-fab-button side="start" color="medium" (click)="vote(false)">
            <ion-icon name="close"></ion-icon>
          </ion-fab-button>
          <ion-fab-button side="end" color="light" (click)="vote(true)">
            <ion-icon name="heart-empty"></ion-icon>
            <!-- <ion-icon name="heart"></ion-icon> -->
          </ion-fab-button>
        </ion-fab>

      </ion-card>

    </div>

  </div>

</ion-content>
