
<ion-content text-center>

  <p style="font-family: cursive">{{ recentCard }}</p>

  <ion-card *ngIf="!roundOfItems?.length">
    <ion-card-content>
      <br><br>
      <p>~ Interstitial Ad Goes Here ~</p>
      <br><br>
      <ion-button (click)="skipAd()">Skip</ion-button>
    </ion-card-content>
  </ion-card>

  <div
    swing-stack
    #mystack
    id="card-stack"
    [stackConfig]="stackConfig"
    (throwoutleft)="vote(false)"
    (throwoutright)="vote(true)">

    <div
      swing-card
      #mycard
      *ngFor="let item of roundOfItems; index as i;">
    <ion-card>
      <img src="assets/Logo-2.png" alt="Food Image" style="max-height: 150px; width: auto; margin: auto;">

      <ion-card-header>
        <ion-card-subtitle>{{ item.basePrice | currency }}</ion-card-subtitle>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content text-center>
        <p>restaurant - category</p>
        <br>
        <ion-button fill="outline" [routerLink]="['/tabs/item-details']" (click)="viewDetails(item)" style="margin-bottom: 25px">
          <ion-label slot="start">Details</ion-label>
          <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
        </ion-button>
      </ion-card-content>

      <ion-fab *ngIf="i === roundOfItems.length - 1" vertical="bottom" slot="fixed">
        <ion-fab-button side="start" color="medium" (click)="vote(false)">
          <ion-icon name="close"></ion-icon>
        </ion-fab-button>
        <ion-fab-button side="end" color="light" (click)="vote(true)">
          <ion-icon name="heart-empty"></ion-icon>
          <!-- <ion-icon name="heart"></ion-icon> -->
        </ion-fab-button>
      </ion-fab>
    </ion-card>
    </div>

  </div>

</ion-content>
