<ion-tabs style="max-width: 800px; margin: auto;">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="options"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="items">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Food</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saved">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Saved</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
