
<ion-content>

  <ion-card>
    <ion-card-content text-center>
      <h1>Share Menu Mash!</h1>
      <div style="display: flex; justify-content: space-around; margin-top: 1em;">
        <ion-icon color="primary" size="large" name="logo-facebook"></ion-icon>
        <ion-icon color="primary" size="large" name="logo-instagram"></ion-icon>
        <ion-icon color="primary" size="large" name="logo-twitter"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>
        <ion-list>
            <ion-list-header>
              Friends
            </ion-list-header>
    
            <ion-item *ngFor="let friend of friends">
              <ion-avatar slot="start">
                <img [src]="friend.avatar">
              </ion-avatar>
              <ion-label>
                <h2>{{ friend.name }}</h2>
                <p>Swipes: {{ friend.swipes }}</p>
              </ion-label>
            </ion-item>
    
          </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
  