
<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">

  <ion-card>
    <ion-card-content text-center>
      <h1>Share Menu Mash!</h1>
      <div style="display: flex; justify-content: space-around; margin-top: 1em;">
        <ion-icon color="primary" size="large" name="logo-facebook"></ion-icon>
        <ion-icon color="primary" size="large" name="logo-instagram"></ion-icon>
        <ion-icon color="primary" size="large" name="logo-twitter"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title style="display: flex; align-items: center;">
        <ion-icon name="construct"></ion-icon>
        <ion-label style="margin-left: 0.5em">How It Works</ion-label>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>MenuMash gets the menu items from local restaurants, shuffles them up, and displays them in a "stack of cards" that is easy to swipe through.</p>
      <br>
      <p>All of the online ordering websites & apps require you to select a category or specific restaurant just to view the items!</p>
      <br>
      <p>With MenuMash you get to quickly filter through everything and order the ones that you liked.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="display: flex; align-items: center;">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label style="margin-left: 0.5em">Disclaimer</ion-label>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>All food images are from a data source not affiliated with the restaurants and do not depict the exact menu item, just a similar version.</p>
      <br>
      <p>All personal and app data is kept secure in accordance to the best web standards.</p>
      <br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="display: flex; align-items: center;">
        <ion-icon name="contacts"></ion-icon>
        <ion-label style="margin-left: 0.5em">Contact</ion-label>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content text-center>
      <p>Please contact customer support for any questions or comments.</p>
      <ion-button style="width: 90%" size="small">
        <ion-icon slot="start" name="mail"></ion-icon>
        <ion-label slot="end">support@menumash.app</ion-label>
      </ion-button>
      <br><br><br>

      <p>Advertisment Inquiries are accepted and ads can be targetted to specific geolocations.</p>
      <ion-button style="width: 90%" size="small">
        <ion-icon slot="start" name="mail"></ion-icon>
        <ion-label slot="end">ads@menumash.app</ion-label>
      </ion-button>
      
    </ion-card-content>
  </ion-card>

  <img src="assets/Logo-2.png" alt="Logo" style="margin: 1em auto 5em; width: 100px; height: 100px; display: block;">

</ion-content>
