<ion-header style="background: linear-gradient(#e2fdee, #ffffff)">

  <img src="assets/Logo-4.png" alt="Logo" style="margin: 0.5em auto 0; height: 70px; width: 70px; display: block;">
  
  <ion-segment mode="md" value="item-list" (ionChange)="onIonChange($event)">
    <ion-segment-button mode="md" value="item-list">
      <ion-label>Saved</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="orders">
      <ion-label>Orders</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>

  <ion-router-outlet></ion-router-outlet>

</ion-content>
