// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    background-color: #F5F5F5 !important;
    border-radius: 10px !important;
}

::-webkit-scrollbar {
    width: 10px !important;
    background-color: #F5F5F5 !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    background-image: -webkit-gradient(linear,
                        left bottom,
                        left top,
                        color-stop(0.44, #B8EFD2),
                        color-stop(0.86, #378871)) !important;
}

ion-content {
    --ion-background-color: linear-gradient(#62a0fd, #bbf5d6);
}

ion-card {
    background: linear-gradient(50deg, #fffff6, #ffffff) !important;
    max-width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

ion-item {
    --background: transparent !important;
}

ion-item:hover {
    --background: white !important;
}
