<ion-header style="background: linear-gradient(#bdfad8, #e4fcef)">

  <img src="assets/Logo-4.png" alt="Logo" style="margin: 0.5em auto 0; height: 70px; width: 70px; display: block;">
  
  <ion-segment class="my-ion-segment" (ionChange)="onIonChange($event)" value="profile">
    <ion-segment-button value="profile">
      <ion-label>Profile</ion-label>
    </ion-segment-button>
    <ion-segment-button value="info">
      <ion-label>Info</ion-label>
    </ion-segment-button>
    <ion-segment-button value="friends">
      <ion-label>Friends</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>

  <ion-router-outlet></ion-router-outlet>

</ion-content>
