<!-- <ion-header
  *ngIf="scrollService.showHeader$ | async as showHeader"
  [ngStyle]="{'top': showHeader && showHeader.show ? '0px' : '-80px'}"
  style="background: linear-gradient(#e2fdee, #ffffff); -webkit-transition: 333ms all !important;"> -->

<ion-header style="background: linear-gradient(#e2fdee, #ffffff);">

  <img src="assets/Logo-4.png" alt="Logo" style="margin: 0.5em auto -25px; height: 70px; width: 70px; display: block;">
  
  <ion-segment mode="md" value="profile" (ionChange)="onIonChange($event)">
    <ion-segment-button mode="md" value="profile">
      <ion-label style="margin-left: -50px">Settings</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="info">
      <ion-label style="margin-right: -50px">Info</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<!-- <ion-content *ngIf="scrollService.showHeader$ | async as showHeader" [fullscreen]="!showHeader.show">

  <ion-router-outlet [ngStyle]="{'top': !showHeader.show ? '50px' : '0px'}" style="-webkit-transition: 333ms all !important;"></ion-router-outlet>

</ion-content> -->

<ion-content>

  <ion-router-outlet></ion-router-outlet>

</ion-content>
