<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon slot="icon-only" name="arrow-round-back" (click)="goBack()" style="cursor: pointer"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="itemService.selected$ | async as selected" style="min-height: 60%">
  
    <ion-card-header>
      <ion-card-title>{{ selected.name }}</ion-card-title>
      <ion-card-subtitle>{{ selected.basePrice | currency }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p *ngIf="selected.description">{{ selected.description }}</p>

      <p style="text-align: center; margin: 3em auto 0;">{{ selected.restaurant.name }}</p>

      <img [src]="selected.restaurant.logoUrl" alt="Food-Image" style="margin: 0 auto 3em; height: 150px; width: auto;">

      <ion-button expand="full" (click)="purchaseOnEatstreet(selected.restaurant.url)">Purchase on EatStreet!</ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>
