
<ion-content>
  
  <ion-card *ngIf="auth.user$ | async as user" style="background: linear-gradient(white, #f2fdf7); margin-bottom: 2em;">
    <ion-card-header>
      <ion-card-title>{{ user.displayName }}</ion-card-title>
      <ion-card-subtitle>Total Swipes: {{ user.swipes }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content text-center>

      <ng-container *ngIf="!user?.uid; else showSignOut">
        <p>Save Likes and Place Orders with Google</p>
        <ion-button size="small" style="margin-bottom: 3em" (click)="auth.loginWithGoogle()">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          <ion-label>Sign In</ion-label>
        </ion-button>
      </ng-container>

      <ng-template #showSignOut>
        <ion-button fill="outline" (click)="auth.logout()">Sign Out</ion-button>
      </ng-template>

      <br>

      <ion-item color="transparent" style="color: gray; margin: 2em auto; width: 90%;">
        <!-- <ion-icon slot="start" name="locate" size="large" style="margin-top: 0.5em; cursor: pointer;"></ion-icon> -->
        <ion-label color="medium" position="floating">Zip Code</ion-label>
        <ion-input
          type="text"
          [value]="zipcode"
          inputmode="numeric"
          maxlength="10"
          color="primary"
          pattern="/^[0-9]{5}(?:-[0-9]{4})?$/"
          required="true"
          debounce="500"
          (ionBlur)="zipInputBlur()"
          (ionFocus)="typing = true;"
          (ionChange)="inputChange($event)"></ion-input>
        <ion-button *ngIf="typing" [disabled]="!validZip" slot="end" type="submit">Save</ion-button>
        <ion-icon [color]="validZip ? 'primary' : 'danger'" *ngIf="!typing" slot="end" name="pin" size="large" style="margin-top: 0.5em"></ion-icon>
      </ion-item>

      <br><br>

      <p>Radius: {{ radius }}mi</p>
      <ion-range min="2" max="10" step="1" [value]="radius" (ionChange)="radiusChange($event)">
        <ion-icon size="small" slot="start" name="sunny"></ion-icon>
        <ion-icon size="large" slot="end" name="sunny"></ion-icon>
      </ion-range>

      <br><br>

      <p>Price: ${{ minPrice }} - ${{ maxPrice }}</p>
      <ion-range dualKnobs="true" min="0" max="50" step="1" [value]="price" (ionChange)="priceChange($event)">
        <ion-icon size="small" slot="start" name="pricetag"></ion-icon>
        <ion-icon size="large" slot="end" name="pricetags"></ion-icon>
      </ion-range>

      <br><br>

    </ion-card-content>
  </ion-card>

</ion-content>
