
<ion-content>
  
  <ion-card *ngIf="auth.user$ | async as user" style="margin-bottom: 2em;">
    <ion-card-header [ngClass]="{'flex-header': !user?.uid}" style="margin-bottom: 1.2em">
      <div>
        <ion-card-title>{{ user.displayName }}</ion-card-title>
        <ion-card-subtitle>Swipes: {{ user.swipes }}</ion-card-subtitle>
      </div>

      <ion-button *ngIf="!user?.uid" size="small" (click)="auth.loginWithGoogle()">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        <ion-label>Sign In</ion-label>
      </ion-button>

    </ion-card-header>

    <ion-card-content text-center>

      <ion-icon *ngIf="address && address.latitude && address.longitude" name="locate" color="primary" size="large"></ion-icon>
      <p *ngIf="address && address.latitude && address.longitude">{{ address.latitude | slice:0:10 }}, {{ address.longitude | slice:0:10 }} <span *ngIf="address && address.city" style="margin-left: 10px">({{ address.city }})</span></p>

      <ion-item color="transparent" style="color: gray; margin: 2em auto; width: 90%;">
        <ion-label color="medium" position="floating">Zip Code</ion-label>
        <ion-input
          type="text"
          [value]="address.zip"
          inputmode="numeric"
          maxlength="10"
          [color]="validZip ? 'primary' : 'danger'"
          pattern="/^[0-9]{5}(?:-[0-9]{4})?$/"
          required="true"
          debounce="200"
          (ionBlur)="zipInputBlur()"
          (ionFocus)="typing = true;"
          (ionChange)="inputChange($event)"></ion-input>
        <ion-button *ngIf="typing && validZip" slot="end" type="submit" fill="clear" style="color: #1A936F">Saved!</ion-button>
        <ion-icon [color]="validZip ? 'primary' : 'danger'" *ngIf="!typing" slot="end" name="pin" size="large" style="margin-top: 0.5em"></ion-icon>
      </ion-item>

      <br><br>
 
      <div style="display: flex; justify-content: center; align-items: center;">
        <p style="margin: 0">Radius: {{ radius }}mi</p>
        <ion-icon *ngIf="editing === 'radius'" color="primary" name="checkmark" (click)="updateRadius()" style="margin: 0 1em; cursor: pointer; font-size: 22px;"></ion-icon>
        <ion-icon *ngIf="editing !== 'radius'" color="medium" name="create" (click)="editing = 'radius'" style="margin: 0 1em; cursor: pointer; font-size: 22px;"></ion-icon>
      </div>
      
      <ion-range
        mode="ios"
        min="2"
        max="10"
        step="1"
        [value]="radius"
        [disabled]="editing !== 'radius'"
        (ionChange)="radiusChange($event)"
        (ionBlur)="updateRadius()">
        <ion-icon size="small" slot="start" name="sunny"></ion-icon>
        <ion-icon size="large" slot="end" name="sunny"></ion-icon>
      </ion-range>

      <br><br>

      <div style="display: flex; justify-content: center; align-items: center;">
        <p style="margin: 0">Price: ${{ price.lower }} - ${{ price.upper }}</p>
        <ion-icon *ngIf="editing === 'price'" color="primary" name="checkmark" (click)="updatePrice()" style="margin: 0 1em; cursor: pointer; font-size: 22px;"></ion-icon>
        <ion-icon *ngIf="editing !== 'price'" color="medium" name="create" (click)="editing = 'price'" style="margin: 0 1em; cursor: pointer; font-size: 22px;"></ion-icon>
      </div>

      <ion-range
        mode="ios"
        dualKnobs="true"
        min="0"
        max="50"
        step="1"
        [value]="price"
        [disabled]="editing !== 'price'"
        (ionChange)="priceChange($event)"
        (ionBlur)="updatePrice()">
        <ion-icon size="small" slot="start" name="pricetag"></ion-icon>
        <ion-icon size="large" slot="end" name="pricetags"></ion-icon>
      </ion-range>

      <br><br><br>

      <ion-button *ngIf="user?.uid" fill="outline" (click)="auth.logout()">Sign Out</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
